@import '~bootstrap/scss/bootstrap/';
.grid-item {
  border: none;
  outline: 1px solid #000;
  display: inline-block;
  width: 35px;
  height: 35px;
}

.hitted {
  background-color: red;
}
.missed {
  background-color: blue;
}

.grid {
  width: 360px;
  div {
    height: 36px;
  }
}

button {
  margin: 3px;
}

.title {
  margin-top: 20px;
}

.wrapper{
  margin-left:60%;
  p:before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
  }
  .blue:before {
    background: Blue;
  }
  .red:before {
    background: red;
  }
}

.popup {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
}

.battleship{
  background-image: url('./img/battleship.png');
  height: 70px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top:50px;
}

.carrier{
  background-image: url('./img/carrier.png');
  height: 70px;
  background-size: contain;
  background-repeat: no-repeat;
}
.submarine{
  background-image: url('./img/submarine.png');
  height: 70px;
  background-size: contain;
  background-repeat: no-repeat;
}
.destroyer{
  background-image: url('./img/cruiser.png');
  height: 70px;
  background-size: contain;
  background-repeat: no-repeat;
}

.patrol{
  background-image: url('./img/patrol-boat.png');
  height: 70px;
  background-size: contain;
  background-repeat: no-repeat;
}