@import '~bootstrap/scss/bootstrap/';
.grid-item {
  border: none;
  outline: 1px solid #000;
  display: inline-block;
  width: 35px;
  height: 35px;
}

.hitted {
  background-color: red;
}

.grid {
  width: 360px;
  div {
    height: 36px;
  }
}

button {
  margin: 3px;
}

.title {
  margin-top: 20px;
}
